pool:
  vmImage: ubuntu-latest

variables:
  GOBIN:  '$(GOPATH)/bin' # GOBIN should be under GOPATH
  GOPATH: '$(system.defaultWorkingDirectory)/gopath'
  modulePath: '$(system.defaultWorkingDirectory)' # Path to the module's code

steps:
  - task: GoTool@0
    inputs:
      version: '{{ .Recipe.Go.Version }}'
    displayName: 'Use Go {{ .Recipe.Go.Version }}'

  - script: |
      go mod tidy
      go vet ./...
      go test -v ./...
    workingDirectory: '$(modulePath)'
    displayName: 'Get dependencies, vet and test'
